# --- API ---
fastapi
uvicorn

# --- Database ---
psycopg2-binary
python-dotenv

# --- Data Processing ---
pyspark
psycopg2-binary
python-dotenv
pandas
numpy

# --- AI (Embeddings) ---
sentence-transformers
scikit-learn

# --- LLM (Ollama call) ---
requests

# --- UI ---
streamlit